################################################
###       environment config file            ###
################################################
SOURCE_DIR=./www

#################### PHP7.2 ####################
PHP72_VERSION=7.2.19
PHP72_PHP_CONF_FILE=./conf/php.ini
PHP72_FPM_CONF_FILE=./conf/php-fpm.conf
PHP72_LOG_DIR=./log/php


#################### PHP5.6 ####################
PHP56_VERSION=5.6.40
PHP56_PHP_CONF_FILE=./conf/php.ini
PHP56_FPM_CONF_FILE=./conf/php-fpm.conf
PHP56_LOG_DIR=./log/php


#################### PHP5.4 ####################
PHP54_VERSION=5.4
PHP54_PHP_CONF_FILE=./conf/php.ini
PHP54_FPM_CONF_FILE=./conf/php-fpm.conf
PHP54_LOG_DIR=./log/php

#################### PHP5.3 ####################
PHP53_VERSION=5.3
PHP53_PHP_CONF_FILE=./conf/php.ini
PHP53_FPM_CONF_FILE=./conf/php-fpm.conf
PHP53_LOG_DIR=./log/php
